* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  border: 1px solid #afafaf;
}

.secondary-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.gray-wrapper {
  background-color: #efefef;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #efefef;
}

.header__item {
  margin-left: 30px;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EFEFEF;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #F13C6E;
  text-transform: uppercase;
}

.search-bar__input {
  border: 0;
  background: #EFEFEF;
  border-radius: 40px;
  width: 250px;
  height: 40px;
  padding-left: 15px;
}

.call-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-bar__telephone-number {
  font-size: 16px;
  line-height: 19px;
}

.call-bar__call-button {
  margin: auto;
  width: 170px;
  height: 40px;
  border: 2px solid #F13C6E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-menu__item {
  padding: 20px;
}

.main-banner {
  height: 602px;
  background: url(../image/Rectangle_2.png) no-repeat center;
  -webkit-box-sizing: cover;
          box-sizing: cover;
  background-color: #F13C6E;
}

.main-banner-wrapper {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  width: 308px;
  height: 220px;
}

.info_title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.info_text {
  padding: 50px 0;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.info_button {
  width: 170px;
  height: 40px;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  font-size: 14px;
  color: #FFFFFF;
}

.goods {
  min-height: 610px;
}

.goods__title {
  padding-top: 65px;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.goods__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item {
  background-color: #fff;
  width: 255px;
  height: 363px;
  margin-right: 30px;
}

.cards__item:last-of-type {
  margin: 0;
}

.card {
  padding-bottom: 25px;
}

.card__image {
  background: url(../image/Rectangle_4.svg) no-repeat center;
  height: 216px;
}

.card__text {
  padding: 0 30px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.card__price {
  padding: 20px 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}

.card__button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 9px 40px;
  background: #F13C6E;
  border-radius: 30px;
  color: #fff;
}

.event-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-block__item {
  margin-right: 30px;
}

.event-block__item:last-child {
  margin: 0;
}

.event-block__event-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 40px;
  width: 460px;
  height: 142px;
  background-color: #F13C6E;
}

.event-item__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.event-item__text {
  margin-bottom: 25px;
  max-width: 235px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.event-item__input {
  background: #FFFFFF;
  border-radius: 30px;
  height: 35px;
  width: 225px;
  padding-left: 15px;
}

.block-impuls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 96px;
}

.block-impuls__item {
  background-color: #FFFFFF;
  width: 274px;
  height: 123px;
  border: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */